<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>divissão</h1>
    <form action="/calcular" method="post">
        <label>dividendo</label>
        <input type="text" name="dividendo" required>
        <br><br>
        <label>divisor</label>
        <input type="text" name="divisor" required>
        <button type="submit">calcular</button>
    </form>
</body>
</html>