<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="message">
        <h1>salvou ae</h1>
    </div>
    <a href="/" class="link-back">cadastrar outro</a>
</body>
</html>